body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.menu-empresa{
    width: 100%;
    background-color: #010429;
    height: 60px;
}
.image1{
    height: 60px;
}
main, .content{
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.redes-sociais ul li {
    margin-left: 25px;
    display: inline-block;
    list-style: none;
}
.logo{
    width: 70%;
    float: left;
}
.redes-sociais{
    width: 25%;
    float: right;
}
.header-2{
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding: 16px;
}
.empresa ul li{
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 50px;
   
}
.empresa ul li :hover{
    border-bottom: 3px solid #00bac6;
 
}
.empresa ul li a:hover{
    color: #00bac6;
}
.empresa ul li a{
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}
.empresa{
    width: 70%; 
    float: left;
}
.busca{
    text-align: center;
    width: 30%;
    float: right;
}
.busca input{
    border: 1px solid #d6d6d6;
    background-position: 96%;
    background-repeat: no-repeat;
    background-image: url(./imgs/search.png);
    height: 25px;
    padding: 5px;
    width: 190px;
    margin-top: 10px;
}
.col-100{
    width: 100%;
    float: left;
    position: relative;
}
ul{
    padding: 0px !important;
}
.empresa-urls{
    height: 80px;
    border-bottom: 3px solid #efefef;
}
button.slick-prev{
     font-size: 0px;
     border: none;
     width: 25px;
     height: 51px;
     background-color: transparent;
     background-image: url(./imgs/back.png);
     position: absolute;
     z-index: 9;
     top: 35%;
     left: 14%;
}
 
button.slick-next{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    background-color: transparent;
    background-image: url(./imgs/next.png);
    position: absolute;
    z-index: 9;
    top: 35%;
    right: 14%;
}
.slick-initialized{
    overflow: hidden;
}
.slick-dots li button{
    font-size: 0px;
    border: 5px solid #ffffff;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}
.slick-dots{
    margin:0 auto;
    width: 50%;
    position: absolute;
    left: 45%;
    top: 450px;  
}
li.slick-active button{
    background: #00bac6;
}
.slick-dots li{
    display: inline-block;
    padding: left 10px;
}
.texto-destaque{
    text-align: center;
}
.texto-destaque h1{
    color: #818181;
    font-size: 30px;
    text-transform: uppercase;
}
.texto-destaque strong{
    color: #646464;
}
.texto-destaque p{
    color: #9a9a9a;
    font-size: 20px;
}
.col-3{
    padding-left: 15px;
    padding-right: 15px;
    width: 29%;
    float: left;
    position: relative;
}
.botao{
    font-size: 1.2em;
    background: #050a2f;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.1em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 153%;
    left: 50%;  
    margin-right:  -50%;
    transform: translate(-50%, -50%);
}
.bloco-texto{
    margin-top: 1em;
}
h3{
    font-weight: normal !important;
}
.col-4{
    float: left;
    width: 25%;
    text-align: center;
}
.col-4 ing{
    margin:0 auto;
}

.footer h3 { 
    text-align: left; 
} 

.footer { 
    background-image: url(./imgs/footer.png); 
    color: #ffffff; 

} 

.footer-2 {
    background-image: url(./imgs/footer2.png);
    color: #c1c1c1;
    height: 54px;
}

.footer p { 
    width: 90%; 
    text-align: left; 
} 

.footer-2 p { 
    padding: 10px; 
} 

.clock { 
    color: #898989!important; 
} 

.clock:before { 
    content: ''; 
    width:  15px; 
    height: 15px; 
    display: inline-block; 
    background-image: url(./imgs/hora.png); 
    float: left; 
    background-repeat: no-repeat; 
    padding-left: 5px; 
} 

.local:before, .emailico:before, .telefoneico:before { 
    content: ''; 
    width:  17px; 
    height: 24px; 
    display: inline-block; 
    float: left; 
    background-repeat: no-repeat; 
    padding-left: 5px; 
} 

.local:before { 
    background-image: url(./imgs/local.png); 
}   

.emailico:before { 
    background-image: url(./imgs/email.png); 
}   

.telefoneico:before { 
    background-image: url(./imgs/telefoneico.png); 
}   

.footer2{ 
    width: 100%; 
    background-color:#050A30; 
    height: 60px; 
    margin: 0 auto; 
    width: 980px; 
    position: relative; 
}